html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

.websiteHeader {
  text-align: center;
  padding: 2em;
  margin: auto;
}

.headerDiv {
  width: 1200px;
  height: 180px;
  margin: 30px auto 30px auto;
  border: 8px solid black;
  text-align: center;
}

.nav {
  overflow: hidden;
  background-color: black;
}

.nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.nav a:hover {
  background-color: #4CAF50;
  color: white;
  transition: all 0.2s ease-in-out;
}

.formDiv {
  justify-content: center;
  display: flex;
}

label {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  width: 400px;
  line-height: 26px;
  margin-bottom: 10px;
}

input {
  height: 20px;
  flex: 0 0 200px;
  margin-left: 10px;
}

.selectCountry {
  width: 13em;
}

.birthday {
  width: 17.7em;
}

.fileSelect {
  width: 5em;
}

.blankSpace {
  min-height: 10em;
}
